<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home", new { })" class="navbar-brand">
                        <strong class="text-purple">Wiz</strong><font class="text-purple">Booklat</font>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Accounts", "Accounts", "Admin")</li>
                            <li>@Html.ActionLink("Books", "Index", "Books")</li>
                            <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                            <li>@Html.ActionLink("Ranks", "Index", "Ranks")</li>
                            <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
                            <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger alert-round alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @Html.Raw(ViewBag.Message)
            </div>
        }
        else if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-round alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @Html.Raw(ViewBag.Message)
            </div>
        }

        @RenderBody()
        <footer>
            <br />
            <!--<p class="pull-left">&copy; WizBooklat @DateTime.Now.Year</p>-->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
