@model WizBooklat.Models.IndexViewModel
@using WizBooklat.Models
@{
    ViewBag.Title = "Account";
}

@{
    int totalPoints = Model.User.PointHistory.Where(p => p.Type == PointTypeConstant.ADD).Sum(p => p.Points)
            - Model.User.PointHistory.Where(p => p.Type == PointTypeConstant.MINUS).Sum(p => p.Points);
}

<div class="row">
    <div class="col-md-8">
        <br />
        <div class="body-container">
            <div class="row">
                <div class="col-md-8">
                    Name
                    <br />
                    <h2 style="margin-top:10px;">
                        Hi @Model.User.FirstName @Model.User.LastName

                        @if (!String.IsNullOrEmpty(Model.User.StudentNumber))
                        {
                            <small>@Model.User.StudentNumber</small>
                        }

                        @{
                            if (Model.Ranks != null)
                            {
                                int previousPoints = 0;
                                string previousColor = "#000000";
                                foreach (var thisRank in Model.Ranks)
                                {
                                    if (totalPoints >= thisRank.Points)
                                    {
                                        previousPoints = thisRank.Points;
                                        previousColor = thisRank.Color;
                                        continue;
                                    }
                                    else
                                    {
                                        <text>&nbsp;</text>
                                        <span class="glyphicon glyphicon-certificate" style="display:inline-block; color:@previousColor;"></span>
                                        break;
                                    }
                                }
                            }
                        }
                    </h2>
                </div>
                <div class="col-md-4">
                    <center>
                        Your Total Points is
                        <br />
                        <h2 style="margin-top:10px;">
                            @totalPoints
                        </h2>
                    </center>
                </div>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <center>
                        Number of Loans
                        <br />
                        <h2 style="margin-top:10px;">@Model.User.Loans.Count()</h2>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        Active Loans
                        <br />
                        <h2 style="margin-top:10px;">@Model.User.Loans.Count(l => l.ReturnDate == null)</h2>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        Cancelled Loans
                        <br />
                        <h2 style="margin-top:10px;">@Model.User.Loans.Count(l => l.IsCancelled == true)</h2>
                    </center>
                </div>
            </div>
            <br />
            <hr />

        </div>
    </div>

    <div class="col-md-4">
        <br />
        <div class="body-container">
            <p class="text-success">@ViewBag.StatusMessage</p>
            <h4>Edit Mobile Number</h4>

            @using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <br />
                        <label class="control-label">Mobile Number</label>
                        @if (Model.MobileNumberCode != null)
                        {

                        }
                        <input name="MobileNumber" class="form-control form-control-line-only" value="@Model.MobileNumber" placeholder="09xxxxxxxxx" type="number" step="1" />
                        <br />
                        <button type="submit" class="btn btn-xs btn-info btn-block">Save</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<!--
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
        </dl>
    </div>
-->
