@model WizBooklat.Models.Loan
@using WizBooklat.Models
@{
    ViewBag.Title = "Student Loans";
}

<div class="row">
    <div class="col-md-8">
        <div class="topbar">
            <div class="topbar-content">
                <div class="topbar-left">
                    <h5><a href="@Url.Action("ViewLoans", new { email = Model.User.Email })">@ViewBag.Title</a> &emsp;/&emsp;Return&emsp;/&emsp;@Model.Book.BookTemplate.Title</h5>
                </div>
                <div class="topbar-right">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="body-container">
            @using (Html.BeginForm("ProcessReturn", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(Model => Model.LoanId)

                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">Email</label>

                        <input class="form-control form-control-line-only" value="@Model.User.UserName" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Student Number</label>

                        <input class="form-control form-control-line-only" value="@Model.User.StudentNumber" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">Start Date</label>

                        <input class="form-control form-control-line-only" value="@Model.StartDate.ToString("MM-dd-yyyy")" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Due Date</label>

                        <input class="form-control form-control-line-only" value="@Model.EndDate.ToString("MM-dd-yyyy")" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">Return Date (Date Today)</label>

                        <input class="form-control form-control-line-only" name="ReturnDate" type="date" id="#ReturnDate" value="@DateTime.UtcNow.AddHours(8).ToString("yyyy-MM-dd")" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Subsmission Status</label>
                        <br />
                        @if (DateTime.UtcNow.AddHours(8).Date > Model.EndDate)
                        {
                            <span class="text-color-red">Late</span>
                        }
                        else
                        {
                            <span class="text-success">On-time</span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">Item Info</label>

                        <input class="form-control form-control-line-only" value="@Model.Book.BookTemplate.Title" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Internal Code</label>

                        <input class="form-control form-control-line-only" value="@Model.Book.InternalCode" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Is Damaged</label>

                                <select name="IsDamaged" id="IsDamaged" class="form-control form-control-line-only">
                                    <option value="False">No</option>
                                    <option value="True">Yes</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label">Severe?</label>

                                <select name="IsSevere" id="IsSevere" class="form-control form-control-line-only" disabled>
                                    <option value="False">No</option>
                                    <option value="True">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Damage Description</label>

                        <input class="form-control form-control-line-only" id="DamageDescription" name="DamageDescription" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4">
                        <br />
                        <input type="submit" class="btn btn-info btn-block" value="Submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // $("#ReturnDate").val(new Date());
        });

        $("#IsDamaged").change(function () {
            var isDamaged = $(this).val();

            if (isDamaged == "True") {
                $("#DamageDescription").prop("disabled", false);
                $("#IsSevere").prop("disabled", false);
            }
            else {
                $("#DamageDescription").prop("disabled", true);
                $("#IsSevere").prop("disabled", true);
            }
        })
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
